spring:
  application:
    name: metabird

  main:
    banner-mode: off
    web-application-type: reactive

server:
  port: ${PORT:8080}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
